<web-app version="3.0">
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>ua.hubanov.controller.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ProductsServlet</servlet-name>
    <servlet-class>ua.hubanov.controller.ProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductsServlet</servlet-name>
    <url-pattern>/products/</url-pattern>
  </servlet-mapping>

</web-app>
